footer {
  padding: 5rem 0;
  background-color: $primary-color;
  color: $light-color;
  .footer-box {
    margin-bottom: 2rem;
  }
  img {
    @include media-query(420px) {
      width: 100%;
    }
  }
  li {
    margin-bottom: 1rem;
    a {
      color: $light-color;
    }
  }
}

.copyright {
  background-color: darken($primary-color, 20);
  padding: 0.5rem 0;
  text-align: center;
  color: $light-color;
  p {
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
  }
}
